/*===--- RESPONSIVE STYLE ---===*/
/* RECOMENDED BREAKPOINTS:
//-- Min-width: 320px (smaller phone viewpoints)
//-- Min-width: 480px (small devices and most phones)
//-- Min-width: 768px (most tablets)
//-- Min-width: 992px (smaller desktop viewpoints)
//-- Min-width: 1200px (large devices and wide screens)
//-- Min-width: 1366px (XL devices and wide screens)/*


    
/*max-width: 1200px*/
@media only screen and (max-width: 1200px) {
    body .outer-wrapper .wrapper section.paginafull#inicio article#holahello {
        width: 150px;
    }
    body .outer-wrapper .wrapper section.paginafull#inicio article#holahello div span {
        font-size: 11em;
        line-height: calc(var(--vh, 1vh)*18);
    }
    
    body .outer-wrapper .wrapper section.paginafull#inicio article#s01imgs {
        width: calc(63% - 150px);
    }
    
    body .outer-wrapper .wrapper section.paginafull#pilar01 article#p01content .p01c-wrapp#p01cw-ttl {
        width: 56%;
    }
    
    body .outer-wrapper .wrapper section.paginafull#pilar01 article#p01content .p01c-wrapp#p01cw-ttl #p01cw-img01 {
        right: 0;
    }
    
    body .outer-wrapper .wrapper section.paginafull#pilar02 article#p02work01 .p02w-wrapp#p02ww-ttl {
        width: 120%;
    }
    
    body .outer-wrapper .wrapper section.paginafull#pilar02 article#p02work01 .p02w-wrapp#p02ww-ttl #p02ww-img02 {
        top: 22%;
        right: 2%;
    }
    
    body .outer-wrapper .wrapper section.paginafull#pilar02 article#p02work01 .p02w-wrapp#p02ww-ttl p {
        width: 52%;
        right: 2%;
    }
    
    body .outer-wrapper .wrapper section.paginafull#pilar03 article#p03work03 .p03w-wrapp#p03ww-ttl #p03ww-img05 {
        left: 16%;
    }
    
    body .outer-wrapper .wrapper section.paginafull#pilar03 article#p03work03 .p03w-wrapp#p03ww-ttl p {
        padding-left: 35%;
    }
    
    body .outer-wrapper .wrapper section.paginafull#contactanos article#p04contacto02 #p04cw-img01 {
        left: -28%;
    }
    
    body .outer-wrapper .wrapper section.paginafull#contactanos article#p04contacto02 #p04cw-form {
        top: 20%;
    }
    
    body .outer-wrapper .wrapper section.paginafull#contactanos article#p04contacto02 #p04cw-form form .form-group input, body .outer-wrapper .wrapper section.paginafull#contactanos article#p04contacto02 #p04cw-form form .form-group textarea {
        font-size: 1.1em;
    }
    
}
    
/*max-width: 992px*/
@media only screen and (max-width: 992px) {
    body .outer-wrapper .wrapper section.paginafull#inicio article#holahello {
        width: 100px;
    }
    
    body .outer-wrapper .wrapper section.paginafull#inicio article#holahello div span {
        font-size: 7em;
        line-height: calc(var(--vh, 1vh)*18);
    }
    
    body .outer-wrapper .wrapper section.paginafull#inicio article#bbdogt .hhbg-text p {
        font-size: 1em;
        line-height: 20px;
    }
    
    body .outer-wrapper .wrapper section.paginafull#inicio article#s01imgs {
        width: calc(63% - 100px);
    }
    
    body .outer-wrapper .wrapper section.paginafull#pilar01 article#nosotros .nosotros-text p {
        font-size: 1.1em;
        line-height: 24px;
    }
    
    body .outer-wrapper .wrapper section.paginafull#pilar01 article#p01content .p01c-wrapp#p01cw-ttl p {
        font-size: 0.8em;
        padding-right: 5%;
    }
    
    body .outer-wrapper .wrapper section.paginafull#pilar01 article#p01content .p01c-wrapp#p01cw-ttl h2 {
        font-size: 5em;
    }
    
    body .outer-wrapper .wrapper section.paginafull#pilar02 article#p02work01 .p02w-wrapp#p02ww-ttl h2 {
        font-size: 4.9em;
    }
    
    body .outer-wrapper .wrapper section.paginafull#pilar02 article#p02work01 .p02w-wrapp#p02ww-ttl p {
        font-size: 0.7em;
    }
    
    body .outer-wrapper .wrapper section.paginafull#pilar03 article#p03work03 .p03w-wrapp#p03ww-ttl {
        width: 87%;
        left: -50%;
    }
    
    body .outer-wrapper .wrapper section.paginafull#pilar03 article#p03work03 .p03w-wrapp#p03ww-ttl h2 {
        font-size: 6em;
    }
    
    body .outer-wrapper .wrapper section.paginafull#pilar03 article#p03work03 .p03w-wrapp#p03ww-ttl p {
        font-size: 0.9em;
        padding-left: 35%;
        margin-bottom: 0;
    }
    
    body .outer-wrapper .wrapper section.paginafull#pilar03 article#p03work03 .p03w-wrapp#p03ww-ttl #p03ww-img05 {
        width: 18%;
        left: 18%;
    }
    
    body .outer-wrapper .wrapper section.paginafull#contactanos article#p04contacto02 #p04cw-img01 {
        left: -28%;
    }
    
    body .outer-wrapper .wrapper section.paginafull#contactanos article#p04contacto02 #p04cw-form {
        top: 10%;
    }
    
    body .outer-wrapper .wrapper section.paginafull#contactanos article#p04contacto02 #p04cw-form form .form-group input, body .outer-wrapper .wrapper section.paginafull#contactanos article#p04contacto02 #p04cw-form form .form-group textarea {
        font-size: 1em;
    }
}

/* max-width: 768px */
@media only screen and (max-width: 783px) {
    body .outer-wrapper .wrapper section.paginafull#inicio article#holahello {
        width: 80px;
    }
    
    body .outer-wrapper .wrapper section.paginafull#inicio article#holahello div span {
        font-size: 6em;
        line-height: calc(var(--vh, 1vh)*20);
    }
    
    body .outer-wrapper .wrapper section.paginafull#inicio article#bbdogt .hhbg-text {
        bottom: 10%;
    }
    
    body .outer-wrapper .wrapper section.paginafull#inicio article#bbdogt .hhbg-text p {
        font-size: 0.9em;
        line-height: 18px;
    }
    
    body .outer-wrapper .wrapper section.paginafull#inicio article#s01imgs {
        width: calc(63% - 80px);
    }       
    
    body .outer-wrapper .wrapper section.paginafull#inicio article#s01imgs #mousescroll {display: none;}       
    
    body .outer-wrapper .wrapper section.paginafull#inicio article#s01imgs #swipescroll {
        display: block;
        bottom: 30%;
    }
    
    body .outer-wrapper .wrapper section.paginafull#inicio article#s01imgs #s01iw-02 {
        bottom: 7%;
    }
    
    body .outer-wrapper .wrapper section.paginafull#inicio article#s01imgs #s01iw-04 {
        bottom: 8%;
    }
    
    body .outer-wrapper .wrapper section.paginafull#pilar01 article#nosotros .nosotros-text p {
        font-size: 0.8em;
        line-height: 18px;
    }
    
    body .outer-wrapper .wrapper section.paginafull#pilar01 article#nosotros .nosotros-img#ni-01 {
        bottom: 7%;
    }
    
    body .outer-wrapper .wrapper section.paginafull#pilar01 article#p01content .p01c-wrapp#p01cw-ttl {
        width: 50%;
        bottom: 10%;
    }
    
    body .outer-wrapper .wrapper section.paginafull#pilar02 article#p02work01 .p02w-wrapp#p02ww-ttl {
        width: 105%;
    }
    
    body .outer-wrapper .wrapper section.paginafull#contactanos article#p04contacto02 #p04cw-form {
        top: 5%;
        right: 5%;
        width: 55%;
    }
    
    body .outer-wrapper .wrapper section.paginafull#contactanos article#p04contacto02 #p04cw-form form .form-group input, body .outer-wrapper .wrapper section.paginafull#contactanos article#p04contacto02 #p04cw-form form .form-group textarea {
        font-size: 0.8em;
    }
    
    body .outer-wrapper .wrapper section.paginafull#contactanos article#p04contacto02 #p04cw-info {
        width: 60%;
        bottom: 10%;
        right: 1%;
    }
    
    body .outer-wrapper .wrapper section.paginafull#contactanos article#p04contacto02 #p04cw-info h3 {
        font-size: 4em;
        line-height: 1em;
    }
    
}


/*max-width: 480px*/
@media only screen and (max-width: 480px) {
    .hamburger {
        display: block !important;
    }
    
    header.menubar .contenedor nav {
        transform: translateX(100%);
        position: absolute;
        left: 0;
        width: 100vw;
        height: 200vh;
        background-color: #5a5c5c;
        transition: all 0.5s;
    }

    header.menubar .contenedor nav.showed {
        transform: translateX(0);
    }

    header.menubar .contenedor nav ul.nav-ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: center;
        align-content: center;
        margin-top: 24rem;
        gap: 1.5rem;
    }

    header.menubar .contenedor nav ul.nav-ul li a{
        font-size: 26px;
        color: white;
    }

    body .outer-wrapper .wrapper section.paginafull#inicio,
    body .outer-wrapper .wrapper section.paginafull#pilar01,
    body .outer-wrapper .wrapper section.paginafull#pilar02,
    body .outer-wrapper .wrapper section.paginafull#pilar03,
    body .outer-wrapper .wrapper section.paginafull#contactanos {
        /*width: auto;*/
        display: flex;
        flex-wrap: nowrap;
        float: unset;
    }
    
    /*body .outer-wrapper .wrapper section.paginafull#inicio article#holahello {
        width: 60px;
    }*/
    
    /*body .outer-wrapper .wrapper section.paginafull#inicio article#bbdogt .hhbg-img {
        width: 175px;
    }*/
    
    /*body .outer-wrapper .wrapper section.paginafull#inicio article#holahello div span {
        font-size: 4em;
        line-height: calc(var(--vh, 1vh)*9);
    }
    
    body .outer-wrapper .wrapper section.paginafull#inicio article#bbdogt {
        width: calc(var(--vw, 8.5vw)*8);
    }
    
    body .outer-wrapper .wrapper section.paginafull#inicio article#bbdogt .hhbg-text {
        bottom: 10%;
    }*/
    
   /* body .outer-wrapper .wrapper section.paginafull#inicio article#s01imgs {
        width: calc(var(--vw, 9vw)*9);
    }*/

    body .outer-wrapper .wrapper section.paginafull#inicio article#s01imgs .titleSeamos {
        flex-direction: column;
        gap: 0.5rem;
    }

    body .outer-wrapper .wrapper section.paginafull#inicio article#s01imgs .titleSeamos .title-tandem {
        font-size: 6rem;
    }

    body .outer-wrapper .wrapper section.paginafull#inicio article#s01imgs .text-subtitle {
        top: 18%;
        right: 0;
        text-align: center;
    }
    
    body .outer-wrapper .wrapper section.paginafull#inicio article#s01imgs #mousescroll {display: none;}
    
    body .outer-wrapper .wrapper section.paginafull#inicio article#s01imgs #s01iw-01 {
        left: -60%;
        width: 200%;
        bottom: 0;
    }

    
    
    body .outer-wrapper .wrapper section.paginafull#inicio article#s01imgs #s01iw-02 {
        left: 56%;
        bottom: 18%;
        width: 35%;
        z-index: 10;
    }
    
    body .outer-wrapper .wrapper section.paginafull#inicio article#s01imgs #s01iw-03 {
        right: -5%;
        width: 20%;
        bottom: 35%;
    }
    
    body .outer-wrapper .wrapper section.paginafull#inicio article#s01imgs #s01iw-04 {
        top: 5%;
        right: -10%;
    }
    
    body .outer-wrapper .wrapper section.paginafull#pilar01 article#nosotros {
        width: 100vh;
    }
    
    body .outer-wrapper .wrapper section.paginafull#pilar01 article#nosotros .nosotros-text {
        width: 100%;
        left: 2%;
    }

    body .outer-wrapper .wrapper section.paginafull#pilar01 article#nosotros .nosotros-text h2 {
        font-size: 5rem;
    }
    
    body .outer-wrapper .wrapper section.paginafull#pilar01 article#nosotros .nosotros-text p {
        font-size: 1.3em;
        line-height: 22px;
        transform: translateX(1rem);
        text-align: left;
    }
    
    body .outer-wrapper .wrapper section.paginafull#pilar01 article#nosotros .nosotros-img#ni-01 {
        width: 90%;
        bottom: 20%;
        left: 8%;
    }
    
    body .outer-wrapper .wrapper section.paginafull#pilar01 article#nosotros .nosotros-img#ni-02 {
        bottom: 5%;
    }
    
    body .outer-wrapper .wrapper section.paginafull#pilar01 article#p01content {
        width: 100vh;
    }
    
    body .outer-wrapper .wrapper section.paginafull#pilar01 article#p01content .p01c-wrapp#p01cw-ttl {
        position: absolute;
        width: 22%;
        right: 15%;
    }

    body .outer-wrapper .wrapper section.paginafull#pilar01 article#p01content .p01c-wrapp#p01cw-ttl h2 {
        font-size: 2rem;
    }
    
    body .outer-wrapper .wrapper section.paginafull#pilar01 article#p01content .p01c-wrapp#p01cw-ttl p {
        font-size: 0.9em;
        padding-right: 0;
        margin-bottom: 0;
    }

    body .outer-wrapper .wrapper section.paginafull#pilar01 article#p01content .p01c-wrapp#p01cw-ttl #p01cw-img01 {
        width: 175%;
    }
    
    
    body .outer-wrapper .wrapper section.paginafull#pilar02 article#p02work01 {
       width: 25%;
       left: 5%;
    }

    body .outer-wrapper .wrapper section.paginafull#pilar02 article#p02work02 {
        width: 25%;
        left: 5%;
        top: 24%;
    }
    
    body .outer-wrapper .wrapper section.paginafull#pilar02 article#p02work01 .p02w-wrapp#p02ww-ttl {
        width: 85%;
        top: 25%;
    }
    
    body .outer-wrapper .wrapper section.paginafull#pilar02 article#p02work01 .p02w-wrapp#p02ww-ttl h2 {
        font-size: 5.3em;
    }
    
    body .outer-wrapper .wrapper section.paginafull#pilar02 article#p02work01 .p02w-wrapp#p02ww-ttl p {
        font-size: 0.8em;
        bottom: 17%;
    }
    
     /* body .outer-wrapper .wrapper section.paginafull#pilar02 article#p02work02 {
        width: calc(var(--vh, 8vh)*8);
        position: absolute;
        left: 14%;
        z-index: 1;
    }*/
    
    body .outer-wrapper .wrapper section.paginafull#pilar02 article#p02work03 {
        bottom: 0;
    }

    body .outer-wrapper .wrapper section.paginafull#pilar02 article#p02work03 #p02ww-img01 {
        position: relative;
        bottom: -55%;
        width: 200%;
    }

    body .outer-wrapper .wrapper section.paginafull#pilar02 article#p02work04 {
        top: 20%;
        width: 45%;
        right: 5%;
    }

    body .outer-wrapper .wrapper section.paginafull#pilar02 article#p02work04 p {
        font-size: 1.5rem;
    }
    
    body .outer-wrapper .wrapper section.paginafull#pilar03 article#p03work03 {
        width: calc(var(--vh, 9vh)*9);
    }
    
    body .outer-wrapper .wrapper section.paginafull#pilar03 article#p03work03 #p03ww-img01 {
        left: 0%;
    }
    
    body .outer-wrapper .wrapper section.paginafull#pilar03 article#p03work03 #p03ww-img02 {
        left: 35%;
    }
    
    body .outer-wrapper .wrapper section.paginafull#pilar03 article#p03work03 #p03ww-img03 {
        width: 25%;
        left: 45%;
    }

    body .outer-wrapper .wrapper section.paginafull#pilar03 article#p03work03 img#p03redes {
        width: 45%;
        right: 2%;
    }

    body .outer-wrapper .wrapper section.paginafull#pilar03 article#p03work03 img#p03creatividad {
        width: 40%;
        left: 25%;
    }

    body .outer-wrapper .wrapper section.paginafull#pilar03 article#p03work03 img#p03estrategia {
        width: 32%;
        left: 2%;
        top: 23%; 
    }

    body .outer-wrapper .wrapper section.paginafull#pilar03 article#p03work03 img#p03diseño {
        width: 40%;
        right: 4%;
        bottom: 30%;
    }
    body .outer-wrapper .wrapper section.paginafull#pilar03 article#p03work03 img#p03medios {
        width: 40%;
        bottom: 30%;
        left: 4%;
    }
    
    body .outer-wrapper .wrapper section.paginafull#pilar03 article#p03work03 #p03ww-img04 {
        width: 30%;
        left: 70%;
        bottom: 0%;
    }
    
    body .outer-wrapper .wrapper section.paginafull#pilar03 article#p03work03 .p03w-wrapp#p03ww-ttl {
        width: 62%;
        left: 10%;
        bottom: 8%;
    }
    
    body .outer-wrapper .wrapper section.paginafull#pilar03 article#p03work03 .p03w-wrapp#p03ww-ttl #p03ww-img05 {
        width: 15%;
        left: 11%;
        top: 3%;
    }
    
    body .outer-wrapper .wrapper section.paginafull#pilar03 article#p03work03 .p03w-wrapp#p03ww-ttl p {
        padding-left: 20%;
        padding-right: 5%;
    }
    
    body .outer-wrapper .wrapper section.paginafull#pilar03 article#p03work03 .p03w-wrapp#p03ww-ttl h2 {
        font-size: 5em;
    }
    
    body .outer-wrapper .wrapper section.paginafull#pilar03 article#p03work04 {
        width: 100%;
        left: 0;
    }

    body .outer-wrapper .wrapper section.paginafull#pilar03 article#p03work04 #p03ww-text h2 {
        font-size: 4.5rem;
        text-align: center;
    }

    body .outer-wrapper .wrapper section.paginafull#pilar04 {
        flex-direction: column;
    }
    
    body .outer-wrapper .wrapper section.paginafull#pilar04 #p04clients01 {
        width: 100%;
        height: 55%;
    }

    body .outer-wrapper .wrapper section.paginafull#pilar04 #p04clients01 .text-p04 {
        margin-top: 4rem;
    }
    body .outer-wrapper .wrapper section.paginafull#pilar04 #p04clients01 .text-p04 p {
        font-size: 1rem;
        width: 85%;
        margin-bottom: 0.5rem;
    }  

    body .outer-wrapper .wrapper section.paginafull#pilar04 #p04clients02 {
        width: 100%;
        height: 45%;
        display: flex;
        align-items: flex-start;
        margin: 2rem;
    }

    body .outer-wrapper .wrapper section.paginafull#pilar04 #p04clients02 .p04titleclients h2 {
        font-size: 4.5rem;
    }

    body .outer-wrapper .wrapper section.paginafull#pilar04 #p04clients02 .p04titleclients h2#clients-our {
        padding-left: 2rem;
    }

    body .outer-wrapper .wrapper section.paginafull#pilar06 #p06promo01 {
        align-items: flex-start;
        margin-top: 6rem;
    }
    
    body .outer-wrapper .wrapper section.paginafull#pilar06 #p06promo01 .promotitle01 {
        margin-left: 20px;
    }

    body .outer-wrapper .wrapper section.paginafull#pilar06 #p06promo01 .promotitle01 #dont-call {
        font-size: 2rem;
    }

    body .outer-wrapper .wrapper section.paginafull#pilar06 #p06promo01 .promotitle01 #title-sub {
        font-size: 3rem;
    }

    body .outer-wrapper .wrapper section.paginafull#pilar06 #p06promo02 {
        position: relative;
    }

    body .outer-wrapper .wrapper section.paginafull#pilar06 #p06promo02 img {
        position: absolute;
        bottom: 4rem;
        right: 0;
        width: 175%;
    }

    body .outer-wrapper .wrapper section.paginafull#pilar07 #p07title01 {
        font-size: 3rem;
    }

    body .outer-wrapper .wrapper section.paginafull#pilar07 #p07promo01 {
        width: 95%;
    }

    body .outer-wrapper .wrapper section.paginafull#pilar07 #p07promo01 .promobox07 {
        width: 85%;
        gap: 3rem;
    }

    body .outer-wrapper .wrapper section.paginafull#pilar07 #p07promo01 .promobox07 img#bike-logo {
        width: 25%;
    }

    body .outer-wrapper .wrapper section.paginafull#pilar07 #p07title02 {
        font-size: 3rem;
    }

    body .outer-wrapper .wrapper section.paginafull#contactanos article#p04contacto01 {
        width: calc(var(--vh, 3vh)*4);
    }
    
    body .outer-wrapper .wrapper section.paginafull#contactanos article#p04contacto02 {
        width: calc(var(--vh, 9vh)*9);
    }
    
    body.theworkpage .container .row .col .portf-item .portfittl p {
        font-size: small;
        line-height: 1;
        padding-top: 5px;
    }
    

    footer section.paginafull#contactanos {
        width: 100vw;
    }

    footer section.paginafull#contactanos .contacto-personas {
        flex-direction: column;
        gap: 2rem;
    }

    footer section.paginafull#contactanos .contacto-personas .persona {
        width: 100%;
    }

    footer section.paginafull#contactanos .contacto-personas .persona h1 {
        font-size: 60px;
        width: 100%;
        margin-left: 2rem;
    }

    footer section.paginafull#contactanos .contacto-personas .persona .datos {
        margin-left: 2rem;
    }

    footer section.paginafull#contactanos .social-media {
        height: 18%;
    }
}


/*max-width: 380px*/
@media only screen and (max-width: 380px) {
    

    body .outer-wrapper .wrapper section.paginafull#inicio article#bbdogt .hhbg-img {
        left: 25px;
    }
    
    body .outer-wrapper .wrapper section.paginafull#pilar01 article#nosotros .nosotros-text p {
        font-size: 0.9em;
        line-height: 20px;
    }
    
    body .outer-wrapper .wrapper section.paginafull#pilar01 article#p01content .p01c-wrapp#p01cw-ttl #p01cw-img01 {
        left: 7%;
    }
    
    body .outer-wrapper .wrapper section.paginafull#pilar02 article#p02work01 .p02w-wrapp#p02ww-ttl {
        width: 92%;
    }
}

/*max-width: 330px*/
@media only screen and (max-width: 330px) {
    
    body .outer-wrapper .wrapper section.paginafull#pilar02 article#p02work01 .p02w-wrapp#p02ww-ttl #p02ww-img02 {
        top: 30%;
        right: -14%;
    }
    
    body .outer-wrapper .wrapper section.paginafull#pilar02 article#p02work01 .p02w-wrapp#p02ww-ttl p {
        font-size: 0.7em;
        bottom: 22%;
        right: -5%;
    }
}


/*min-width: 1366px*/
@media only screen and (min-width: 1366px) {
    body .outer-wrapper .wrapper section.paginafull#inicio article#holahello {
        width: 170px;
    }
    
    body .outer-wrapper .wrapper section.paginafull#inicio article#holahello div span {
        line-height: calc(var(--vh, 1vh)*19);
    }
       
    body .outer-wrapper .wrapper section.paginafull#pilar02 article#p02work01 .p02w-wrapp#p02ww-ttl {
        width: 87%;
    }
    
}

